/* _content/CompanyApp.Component.LandRegistry/Component1.razor.rz.scp.css */
.my-component[b-9utlei6fxs] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
