/* _content/CompanyApp.Component.LandAudit.Dashboard/Component1.razor.rz.scp.css */
.my-component[b-ud3csqy5o8] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
